@{
    ViewData["Title"] = "Home";
    @* ViewData["LayoutType"] = "Admin"; *@
     @* Layout = "~/Views/Shared/_Layout.cshtml"; *@
}

<h1>Welcome to MiddlewareApp</h1>
<p>This is the Home/Index view.</p>
<h1>@ViewData["data1"]</h1>
<h1>@ViewData["data2"]</h1>
<h3>@ViewData["data3"]</h3>

@{
    foreach(string item in (string[])ViewData["dataaaaa4"]){
        <p>@item</p>
    }

    foreach(string item in (List<String>)ViewData["data5"]){
        <p>@item</p>
    }

}   
@* razor syntax *@

@* <p> current date & time @DateTime.Now </p>
<p> current year is @DateTime.Now.Year</p> *@

@* @{
    var name = "Anushka Jain";
    var age = 23;
}

<p>name is @name and age is @age</p>

@{
    var myName = "AJ";
    if(myName == "AJ"){
        <h3>hello AJ</h3>
    }
    else{
        <h3>bye bro</h3>
    }
}

@{
    for (int i = 0; i < 10; i++){
        <p>@i</p>
    }
}

@{
    string[] names = {"Anushka", "Aman", "Amit", "Anjali", "Anita"};
    foreach(var item in names){
        <p>@item</p>
    }
} *@

